---
// Component Imports
import BaseLayout from "../layouts/BaseLayout.astro";
import Counter from "../components/Counter.vue";

// Full Astro Component Syntax:
// https://docs.astro.build/basics/astro-components/
---

<BaseLayout>
    <Counter client:visible>
        <h2>Hello, Vue!</h2>
    </Counter>
</BaseLayout>
